@media screen and (max-width: 800px)
{
  .container
  {
    display:flex;
    justify-content:center;
    align-items:center;
    vertical-align: middle;
    margin-top:15rem;
  }
  .card
  {
    width: 50rem;
    min-height: 30rem;
  }
  .textarea
  {
    margin-top: 10rem;
  }
  .name
  {
    position: relative;
    top: -2rem;
    left: 3rem;
    display: inline-block;
  }
}
@media screen and (min-width:800px) 
{
  .container
  {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:15rem;
  }
  .card
  {
    width: 50rem;
   min-height: 35rem;
  }
  .textarea
  {
    margin-top: 15rem;
  }
  .name
  {
    position: relative;
    top: -2rem;
    left: 3rem;
    display: inline-block;
  }
}